<h1>My Address Book</h1>
<p>Here's a list of people in my address book:</p>

<% sql_display = "select * from contacts" %>
<% @db_accessed.exec(sql_display) do |result| %>
  <ul>
    <li><% result.each do |column| %>
      <%= column %>
    <% end %></li>
  </ul>
<% end %>
<% @db_accessed.close %>

<p>If you don't suck at life and want to get on my address book, enter your information below:</p>
<form action="/" method="post">
  <input type="text" name="first" autofocus> Enter your first name here.
  <input type="text" name="last" autofocus> Enter your last name here.
  <input type="text" name="age" autofocus> Enter your age here.
  <input type="text" name="gender" autofocus> Enter your gender here (M or F).
  <input type="text" name="dtgd" autofocus> Are you down to get down? (true or false)
  <input type="text" name="number" autofocus> Enter your number here.
  <button>Submit</button>
</form>
